.search-container {
  margin-top: 36px;
}
.form {
  display: flex;
  gap: 8px;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 371px;
}

.form label {
  max-width: 272px;
  display: flex;
  align-items: center;
}

.form input {
  width: 100vw;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #808080;
}

.form input:hover {
  outline: 1px solid black;
  border-color: black;
}

.form input:focus {
  outline: 1px solid #4e75ff;
  border-color: #4e75ff;
}

.form button,
.load-more-btn {
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  font-weight: 500;
}

.form button:hover,
.load-more-btn:hover {
  background-color: #6c8cff;
}

.load-more-btn {
  min-width: 125px;
}

.load-more {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.loader {
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}
